
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root {
  --primary-white : white;
  --primary-orange : orange;
}


body {
  font-family: "Roboto Condensed" sans-serif;
}
/***Navbar**/
.logo {
  width: 16.25rem;
}

/***Menu links*****/
nav a.nav-link {
   /* font-weight: 500; */
   letter-spacing: 0.0375rem;
   cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: white;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid orange ;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid orange ;
} 